<h1>Listing people</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Published</th>
    <th>URL</th>
  </tr>

<% if @people.present? && @people["items"].present? %>
  <% @people["items"].each do |person| %>
    <tr>
      <td><%= person["title"] %></td>
      <td><%= person["published"] %></td>
      <td><%= person["url"] %></td>
    </tr>
  <% end %>
<% end %>
</table>

<br />

<%= link_to 'New Person', new_person_path %>
